@use '../abstract/variaveis';

.contato-container{
    display: flex;
    justify-content: space-between;
    margin: 4rem 5rem 2rem 5rem;
    padding: 5rem;
    

    h2{
        font-family: variaveis.$fonte-principal;
        font-size: 4rem;
        font-weight: 300;
        margin-left: 5rem;
    }

    .infos-contato{
        
        margin-right: 4rem;

        .contato-paragrafo{
            font-family: variaveis.$fonte-principal;
            font-weight: 400;
            color:  rgb(121, 119, 119);
        }
        
    }
}