@use '../abstract/variaveis';

.cabecalho{
    display: flex;
    justify-content: space-between;
    background-color: variaveis.$cor-tema;
    font-family: variaveis.$fonte-principal;

    .logo{
        color: variaveis.$cor-fonte;
    }

    
}