@use '../abstract/variaveis';

.parceiros-container{
    text-align: center;
    box-shadow: 2px 2px 5px rgb(241, 241, 241);

    margin-bottom: 2.5rem;

    h2{
        font-family: variaveis.$fonte-principal;
        font-weight: 300;
        font-size: 3rem;
    }

    img{
        width: 65%;
        margin-bottom: 4rem;
    }
}