@use '../abstract/variaveis';

.container-servicos{
    display: flex;
    flex-direction: row;
    font-family: variaveis.$fonte-principal;
    box-shadow: 2px 2px 5px rgb(241, 241, 241);

    h2{
        font-size: 3.5rem;
        font-weight: 300;
        margin: 8rem 10rem 0rem 16rem;
        text-align: center;
    }

    .desenvolvimento{
        margin-top: 5rem;
        margin-bottom: 5rem;
        margin-left: 10rem;
        gap: 1rem;
        text-align: left;
        

        h3{
            font-weight: 600;
            width: 50%;
        }

        p{
            flex-wrap: wrap;
            width: 50%;
            color: rgb(121, 119, 119);
        }
    }

    .montagem{
        margin-top: 8rem;
        margin-bottom: 5rem;
        margin-right: 15rem;
        gap: 1rem;
        text-align: left;

        h3{
            font-weight: 600;
            width: 50%;
        }

        p{
            flex-wrap: wrap;
            width: 50%;
            color: rgb(121, 119, 119);
        }
    }
}
